
{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	{% include 'data-objects.twig' %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">

		<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
		
		<div>
			<div class="top-nav-parent">
				<div id="top-nav" class="edge-wrapper flex justify-end gap-4 pt-8">
					{% for items in {'items': menuTopNav.get_items} %}
						{% for item in items %}
								<a href="{{item.url}}" class="py-2 px-4">
									<div class="text-xs uppercase">{{item}}</div>
								</a>
						{% endfor %}
					{% endfor %}
				</div>
			</div>
			
			<header class="header" >
				{% block header %}

				{#<!-- header/navigation -->
				<div x-data="{ isOpen: false }" class="flex justify-between p-4 lg:p-8">
					<div class="flex items-center">
						<h1 class="hdr-logo bg-white pt-8 pr-24 pb-2 diag" role="banner">
							<a class="hdr-logo-link" href="{{site.url}}" rel="home">
							{% if custom_logo_url %}
								<img src="{{custom_logo_url}}" alt="{{site.name}}" />
							{% else %}
								{{site.name}}
							{% endif %}
							</a>
						</h1>
					</div>

					<!-- left header section -->
					<div class="flex items-center justify-between">
						<button @click="isOpen = !isOpen" type="submit">
								viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
									d="M4 6h16M4 12h16M4 18h16" />
							</svg>
						</button>
						<div class="hidden space-x-6 lg:inline-block">
							{% include "menu.twig" with {'items': menuPrimary.get_items} %}
						</div>

						<!-- mobile navbar -->
						<div class="mobile-navbar">
							<!-- navbar wrapper -->
							<div class="absolute left-0 w-full h-48 p-5 bg-white rounded-lg shadow-xl top-16" x-show="isOpen"
								@click.away=" isOpen = false">								
								{% include "menu.twig" with {'items': menuPrimary.get_items} %}
							</div>
						</div>
						<!-- end mobile navbar -->
					</div>
					<!-- right header section -->

				</div>#}


					<div class="wrapper edge-bg-lite px-6">
						<div class="desktop edge-wrapper flex flex-row gap-20 ">
							<h1 class="hdr-logo bg-white pt-8 pr-24 pb-2 diag" role="banner">
								<a class="hdr-logo-link" href="{{site.url}}" rel="home">
								{% if custom_logo_url %}
									<img src="{{custom_logo_url}}" alt="{{site.name}}" />
								{% else %}
									{{site.name}}
								{% endif %}
								</a>
							</h1>
							<nav id="nav-main" class="nav-main pb-2" role="navigation">
								{% include "menu.twig" with {'items': menuPrimary.get_items} %}
							</nav><!-- #nav -->
						</div>
						{#<div class="mobile edge-wrapper grid grid-cols-2 items-center py-4">
							<a class="col-span-1" href="{{site.url}}" rel="home">
								{% if custom_logo_url %}
									<img src="https://edgedata.saucebuild.com/wp/wp-content/uploads/2022/07/edge-project-database-logo.png" alt="{{site.name}}" />
								{% else %}
									{{site.name}}
								{% endif %}
							</a>
							<div class="mobile-menu-button col-span-1 flex justify-end ">
								<span class="material-icons cursor-pointer"> menu </span>
							</div>
							{% include "menu.twig" with {'items': menuPrimary.get_items} %}
						</div>#}
					</div>
				{% endblock %}
			</header>
			
			<section id="content" role="main" class="w-full">

				<div class="">
				{% if title %}<h1>{{title}}</h1>{% endif %}
				</div>

				<div class="wrapper {{sidebar_class}}">
					{% block content %}
						Sorry, no content
					{% endblock %}
				</div>
				{% if sidebar %}
					<aside class="layout-sidebar">
						{{sidebar}}
					</aside>
				{% endif %}
			</section>

			{% block footer %}
				<footer id="footer" class="">
					{% include 'footer.twig' %}
				</footer>
				{{ function('wp_footer') }}
			{% endblock %}
		</div>

			<script>
				$(document).ready(function() {
					$('.mobile-menu-button').click(function() {
						$('.mobile-menu').slideToggle();
  						return false;
					});
				});
			</script>
	</body>
</html>
