<!doctype html>
<!--[if lt IE 9]><html class="no-js no-svg ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 9]><html class="no-js no-svg ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js no-svg" {{ site.language_attributes }}> <!--<![endif]-->
<head>
    <meta charset="{{ site.charset }}" />
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="{{ site.theme.link }}/style.css" type="text/css" media="screen" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="author" href="{{ site.theme.link }}/humans.txt" />
    <link rel="pingback" href="{{ site.pingback_url }}" />
    <link rel="profile" href="http://gmpg.org/xfn/11">

    {# Google Fonts #}
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

	{# Font-Awesome Icons #}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Import jQuery, AlpineJS Micro Framework & Tailwind CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="https://cdn.tailwindcss.com"></script>

    {# Custom CSS and Scripts - Global #}
    <style>
	{# Global Styles #}
		{# Fonts #}
		.bebas { font-family: 'Bebas Neue', sans-serif; }
		.lato { font-family: 'Lato', sans-serif; }

		{# Standard Custom Utilities #}
		.uppercase { text-transform: uppercase; }
		.bg-repeat-y { background-repeat: repeat-y; }
		.bg-repeat-x { background-repeat: repeat-x; }
		.bg-no-repeat { background-repeat: no-repeat;}
		.border-none { border: none }
		.letter-wider {letter-spacing: 2px;}

		{# EDGE Custom Colors #}
		.edge-red { color: #BF021C; }
		.edge-red-dark { color: #6E0708; }

		.edge-wt80-border-top > div {
			border-top: 1px solid rgba(255,255,255,.8);
			padding-left: 1rem;
		}

		.zi-10 { z-index: 10; }
		.zi-20 { z-index: 20; }

		.edge-bk80-border-top > div {
			border-top: 1px solid rgba(0,0,0,.8);
			padding-left: .5rem;
		}

		.edge-mid { color: #CECECE; }
		.edge-lite { color: #EBEBEB; }
		.edge-dark { color: #3A3B3D; }
		.edge-bg-mid { background-color: #CECECE; }
		.edge-bg-lite { background-color: #F4F4F4; }
		.edge-bg-dark { background-color: #3A3B3D; }

        .edge-bg-red, .edge-btn-red { background-color: #BF021C; }
		.edge-bg-red-dark { background-color: #6E0708; }

		.edge-bg-red-special { background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 378.72 453.25'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23a31c20%3B %7D .cls-2 %7B fill: %23fff%3B stroke: %23fff%3B %7D %3C/style%3E%3C/defs%3E%3Cpolygon class='cls-1' points='378.64 .5 232.51 24.15 378.64 453.25 378.64 .5'/%3E%3Cpolygon class='cls-2' points='.5 61.32 .5 .5 378.64 .5 .5 61.32'/%3E%3C/svg%3E"); background-repeat: no-repeat; background-size: 120% ; }
		.edge-bg-red-special .p-12 { padding: 6rem 3rem 3rem; }

		.edge-btn-red:hover { background-color: rgba(191,2,28,0.8); }
		.edge-btn-white { background-color: rgba(255,255,255,1); color: #232323; }
		.edge-btn-white:hover { background-color: rgba(230,230,230,1); }

		.edge-link-red { color: #BF021C; }
		.edge-link-red:hover { color: rgba(153,153,153,1); }
		.edge-link-gray { color: rgba(204,204,204,1); }
		.edge-link-gray:hover { color: rgba(153,153,153,1); }

		{# EDGE Misc #}
		.edge-home-bg {
			background-image: url('https://edgedata.saucebuild.com/wp/wp-content/uploads/2022/07/scorecard-header.jpg');
			background-size: auto 55vw;
			background-position: 130% 100%;
			background-repeat: no-repeat;
		}

		.edge-pilots-bg {
			background-image: url('https://edgedata.saucebuild.com/wp/wp-content/uploads/2022/07/PILOT-header.jpg');
			background-size: auto 55vw;
			background-position: 150% 70%;
			background-repeat: no-repeat;
		}

		.edge-tifs-bg {
			background-image: url('https://edgedata.saucebuild.com/wp/wp-content/uploads/2022/07/tifs-header.jpg');
			background-size: auto 55vw;
			background-position: 120% 30%;
			background-repeat: no-repeat;
		}

		.edge-loans-bg {
			background-image: url('https://edgedata.saucebuild.com/wp/wp-content/uploads/2022/07/loans-header.jpg');
			background-size: auto 50vw;
			background-position: 100% 50%;
			background-repeat: no-repeat;
		}

		.edge-bonds-bg {
			background-image: url('https://edgedata.saucebuild.com/wp/wp-content/uploads/2022/07/bonds-header.jpg');
			background-size: auto 50vw;
			background-position: 100% 10%;
			background-repeat: no-repeat;
		}

		.edge-others-bg {
			background-image: url('https://edgedata.saucebuild.com/wp/wp-content/uploads/2022/07/others-header.jpg');
			background-size: auto 55vw;
			background-position: 130% 50%;
			background-repeat: no-repeat;
		}

		.edge-listing-bg {
			background-image: url('https://edgedata.saucebuild.com/wp/wp-content/uploads/2022/07/project-details-headers.jpg');
			background-size: auto 55vw;
			background-position: 100% 0%;
			background-repeat: no-repeat;
		}


		@media only screen and (max-width: 767px) {
			.hero {
				background-size: auto 100vw;
				background-position: 100% 100%;
				background-repeat: no-repeat;
			}
			.hero .bg-white {
				--tw-bg-opacity: .9;
			}
			.hero .py-20 {
				padding-top: 2rem;
				padding-bottom: 2rem;
			}
			.hero .pr-16 {
				padding-right: 0;
			}
			.hero .w-7\/12 {
				width: 80.333333%;
				justify-content: center !important;
			}
			.hero .gap-6 {
				gap: 0.5rem;
			}
			.hero .left-offset {
				margin-left: auto;
    			margin-right: auto;
			}
			.search-header {
				font-size: 2.9rem !important;
			}
			.flex.gap-6.mt-4.justify-end {justify-content: center !important; margin-left: -3rem;}
			#search-button {padding-left: 1rem; padding-right: 1rem;}
			#name-search {border: 1px solid rgba(0,0,0,0.1);}
			[id^="edge_"] table.min-col .px-6 {
				padding-left: 1rem;
    			padding-right: 1rem;
			}
		}

		{# EDGE Custom Utilities #}
		.edge-wrapper { max-width: 1200px; margin: 0px auto; padding: 0px; }
		.edge-max-w-500 { max-width: 500px; }
		
		.hdr-logo {
			padding-left: 600px;
			margin-left: -600px;
		}

		.left-offset {
			margin-left: -50px;
		}

		.hdr-logo-link > img {
			max-width: 250px;
			transform: skewX(11deg);
		}

        .diag {
            transform: skewX(-11deg);
        }
		.diag > * {
            transform: skewX(11deg);
        }

		.w-100vw {
			width: 100vw;
		}

		.ovrflw-hdn {
			overflow-x: hidden;
		}

		.min-h-500 {
			min-height: 575px;
		}        

		#top-nav, .top-nav-parent {
			background-color: #6E0708;
		}
		#top-nav {
			width: 100%;
			padding-top: 20px;
			padding-bottom: 20px;
		}

        #top-nav > a {
            background-color: #fff;
            cursor: pointer;
			transform: skewX(-10deg) skewY(0deg);
        }

         #top-nav > a:hover {
            background-color: #333;
            color: #fff;
        }

		.listing-data-left > * {
			margin-bottom: 2.5rem;
		}

		{# //////////////////////// #}

		body {
			font-family: 'Lato', sans-serif;
			font-size: 16px;
			line-height: 28.8px;
			color: black;
		}

		.lg-hdr {
			font-family: 'Bebas Neue', sans-serif;
			font-size: 87.62px;
			line-height: 87.62px;
			color: black;
		}

		.sm-hdr {
			font-family: 'Lato', sans-serif;
			font-size: 35px;
			font-weight: 700;
			line-height: 42px;
			color: black;
		}

		.search-header {
			font-size: 4.5rem;
			line-height: 1;
		}

		.header > .wrapper > .mobile {
			display: none;
		}

		#content, .wrapper {
			overflow-x: hidden;
		}

		.row-b1 {
			border-bottom: 1px solid #ccc;
		}
		.row-b1:last-child {
			border-bottom: none;
		}

		#filter-tab,
		#filter-selection-list {
			{# display: none; #}
		}

		.max-w-screen-xl {
			max-width: 1200px !important;
		}

		#total_results div > ul > li {
			border-top: 1px solid #C8C8C8;
		}
		#total_results div > ul > li:last-child {
			border-bottom: 1px solid #C8C8C8;
		}
		#total_results div.w-full {
			padding: 0 4%;
		}
		.applies {
			padding: 2% 4%;
			font-weight: 300;
		}
		.edge-bg-red.diag.px-6 {
			box-shadow: -20px 20px 0px rgb(0 0 0 / 6%);
		}

		[id^="edge_"] table:before {
			content: "";
			background-color: #3A3B3D;
			height: 80px;
			width: 100%;
			display: block;
			position: absolute;
    			margin-left: -95%;
		}
		[id^="edge_"] table.min-col:before {
			margin-top: -48px;
			height: 48px;
		}

		{# //////// Responsive #}

		@media (min-width: 1200px) {
			.max-w-screen-xl {
				min-width: 1200px;
			}
		}
		@media (min-width: 854px) and (max-width: 1070px) {
			#pilot_list.flex table:before {
				margin-top: -104px;
			}
		}
		@media (max-width: 854px) {
			#pilot_list.flex table:before {
				margin-top: -128px;
			}
		}

		@media (min-width: 1024px) {						
			[id^="edge_"] table:before {
				margin-top: -80px;
			}
			.flex.flex-col.justify-end.pr-16 {
				padding-right: 11rem;
			}
		}

		@media only screen and (max-width: 1115px) and (min-width: 768px) {
			.left-offset {
				margin-left: 0px;
			}
			.search-header {
				font-size: 3rem;
				line-height: 1;
			}
			.edge-max-w-500 {
				max-width: 375px;
			}
		}

		@media (max-width: 1280px) {			
			#top-nav {
				width: 90%;
			}
		}

		@media (max-width: 1002px) {						
			[id^="edge_"] table.min-col:before {
				margin-top: -80px;
			}
			#loan_list.flex table.min-col:before {
				margin-top: -72px;
			}
			#edge_bonds table.min-col:before {
				margin-top: -56px;
				height: 56px;
			}
		}
		#tif_list table.min-col:before,
		#bond_list table.min-col:before,
		#other_list table.min-col:before {
				margin-top: -56px;
				height: 56px;
		}

		@media (max-width: 556px) {
			#other_list table.min-col:before {
				margin-top: -80px;
			}
		}
		@media (max-width: 510px) {
			#bond_list table.min-col:before {
				margin-top: -80px;
			}
		}
		@media (max-width: 504px) {
			#tif_list table.min-col:before {
				margin-top: -80px;
			}
		}
		@media only screen and (max-width: 1000px) {
			.header .edge-bg-lite {
				background-color: transparent;
			}
			.desktop {
				justify-content: space-between;
				flex-direction: column !important;
				align-items: center;
				gap: 0 !important;
			}
			.desktop .hdr-logo {
				padding-left: 0;
				padding-right: 0;
				margin-left: 0;
			}
			.mobile-menu-button {
				margin-top: 0 !important;
			}
		}
		@media only screen and (max-width: 485px) {
			{#.header > .wrapper > .desktop {
				display: none;
			}
			.header > .wrapper > .mobile {
				display: grid;
			}
			.header > .wrapper > .mobile > div > span {
				display: grid;
				font-size: 2.5rem;
			}
			#menu.burger > li > span {
				display: none;
			}#}
			#top-nav {
				flex-wrap: wrap;
				justify-content: center;
			}
		}

		@media only screen and (min-width: 750px) {
			.top-nav-parent {
				display: grid;
			}
		}
	}
		
	</style>

	<script>
		// Global JS var tools
////////////////////////////////////////////////////////////////////////////////////////////////
		// to use: formatter.format(number);
		var formatter = new Intl.NumberFormat('en-US', {
			style: 'currency',
			currency: 'USD',
		});

		const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

		const pilots = {{edge_pilot_program}};
		const tifs = {{edge_tifs}};
		const others = {{edge_others}};
		const bonds = {{edge_bonds}};
		const loans = {{edge_loan_program}};

		const MAIN_SITE_URL = 'https://edge.saucebuild.com/wp';
		const SITE_URL = '{{ site.url }}';	

		{# console.log({{edge_bonds}});
		console.log({{edge_tifs}});
		console.log({{edge_others}});
		console.log({{edge_loan_program}}); 
		console.log({{edge_pilot_program}}); #}

		$(document).ready(function() {
			$("#name-search").on('keypress',function(e) {
				if(e.which == 13) {
					$('#search-button').click();
				}
			});
		});

		$(document).ready(function() {
			$('#wp-admin-bar-top-secondary').html(
				`<li><a href="<?php echo wp_logout_url(); ?>" class="ab-item">Log Out</a></li>`
			);
		});
	</script>
    {{function('wp_head')}}
